.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/modules/welcome/views/welcome_message - befor customize.php
assets/front/images/home-abouts-img.psd
laravel/public/St Josephs Matriculation Higher Secondary School-1119937.jpg.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-1344418.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-1716665.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-2081900.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-2799871.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-2849869.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-2962672.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-3905636.jpg
laravel/public/St Josephs Matriculation Higher Secondary School-5873560.jpg
laravel/public/St Joseph's Matriculation Higher Secondary School-6907393.jpg
laravel/public/St Josephs Matriculation Higher Secondary School-7507423.jpg
laravel/public/St Josephs Matriculation Higher Secondary School-822943.jpg
laravel/public/test platinum-1267591.jpg
laravel/public/test platinum-149021.jpg
laravel/public/test platinum-1539840.jpg
laravel/public/test platinum-2531585.jpg
laravel/public/test platinum-2581888.jpg
laravel/public/test platinum-2724263.jpg
laravel/public/test platinum-300846.jpg
laravel/public/test platinum-311212.jpg
laravel/public/test platinum-4736104.jpg
laravel/public/test platinum-4746165.jpg
laravel/public/test platinum-4759579.jpg
laravel/public/test platinum-5026036.jpg
laravel/public/test platinum-5368406.jpg
laravel/public/test platinum-5651326.jpg
laravel/public/test platinum-5995220.png
laravel/public/test platinum-6935441.jpg
laravel/public/test platinum-7260128.jpg
laravel/public/test platinum-7703105.jpg
laravel/public/test platinum-8039377.jpg
laravel/public/test platinum-8336017.jpg
laravel/public/test platinum-8939965.jpg
laravel/public/test platinum-9125327.jpg
laravel/public/test platinum-9310078.jpg
laravel/public/test platinum-948391.jpg
laravel/public/uploads/2/2019-02/3rd_cat_jss_inter.jpg
laravel/public/uploads/2/2019-04/2st_cat_logo_nava_bharat.jpg
