.edit-school-inner {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
a.btn:not([href]):not([tabindex]) {
    color: #fff;
}
.red {
    color: red;
}
.section-title span {
    font-size: 18px;
}