.edit-school-inner, .table-main {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 6px 8px rgb(4 4 7 / 3%);
    border-radius: 10px;
}
a.btn:not([href]):not([tabindex]) {
    color: #fff;
}
.red {
    color: red;
}
.section-title span {
    font-size: 18px;
}
.opa-0 {
    opacity: 0;
}
.edit-school-inner .form-control {
    font-weight: 600;
    color: #000;
}
.modal-open .modal {
    z-index: 9999;
}
.section-title {
    position: relative;
}
.status-btn {
    position: absolute;
    right: 0;
    top: -9px;
}
.status-btn .btn {
    text-transform:  uppercase;
}
.footer {
    position: relative;
    width: 100%;
    background-color: #ffadd8;
    padding: 10px 17px;
}
.footer a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}
.container-fluid-inner {
    background-color: #f0efff;
    padding: 15px;
    min-height: calc(100vh - 97px);    
}
.table-tit-main {
    width: 100%;
    position: relative;
}
.table-tit-main .btn-sm {
    position: absolute;
    right: 0;
    top: 8px;
}
.table-tit {
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.table-responsive table.dataTable {
    width: 99.9%;
}
.table-main {
    padding-top: 0;
    margin-bottom: 0;
}
a:hover {
    cursor: pointer;
}
.theme-bg {
    background-color: #d12881;
}